.custom-scrollbar {
    scrollbar-color: var(--color-grey) transparent;
    scrollbar-width: thin;
    overflow: auto;
    scrollbar-x-position: 10px;
    
}

#sidebar-projects {
    composes: custom-scrollbar;
    overflow-x: hidden;
}

@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.animate-slideIn {
    animation: slideIn 0.2s ease-out forwards;
}