.gutter {
  background-color: #1a1a1a;
  position: relative;
}

.gutter:hover {
  background-color: #3730a3;
}

.gutter.gutter-horizontal {
  cursor: col-resize;
}

.gutter.gutter-vertical {
  cursor: row-resize;
}

.gutter::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 4px;
  height: 20px;
  background-color: #4f46e5;
  border-radius: 2px;
  opacity: 0;
  transition: opacity 0.2s;
}

.gutter:hover::after {
  opacity: 1;
}
